<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace = "we.are.Mapper.ConnectionMapper">

	<insert id = "connection_insert">
		insert into connection values(#{cname}, #{cno}, #{ceo}, #{caddress}, #{cnumber}, #{cemail}, #{cmi}, #{y}, #{x})
	</insert>

	<select id = "connection_list" resultType = "we.are.Model.ConnectionDTO">
		select *
		from (
		select @rownum:=@rownum+1 rownum, b.*
		from connection b,
		(select @rownum:=0) as tmp
		) as connection
		<![CDATA[
 			where rownum > (#{pageNum}-1)*#{amount} and rownum <= #{pageNum}*#{amount}
			]]>
	</select>
	
	<select id="total" resultType="int">
		SELECT COUNT(*) FROM connection;
	</select>

</mapper>