<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace = "we.are.Mapper.StoreMapper">
<!--  해시맵을 이용해서 join값을 알맞게 넘기기 -->
<resultMap type="java.util.HashMap" id="store_select"> 
		<result column="uuid" property="uuid" />
		<result column="cname" property="cname" />
		<result column="pproduct" property="pproduct" />
		<result column="ocount" property="ocount" />
		<result column="scount" property="scount" />
		<result column="osuju" property="osuju" />
		<result column="otext" property="otext" />
		<result column="x" property="x" />
		<result column="y" property="y" />	
		<result column="sdel" property="sdel" />	
		<result column="pcode" property="pcode" />	
		<result column="oday" property="oday" />	
		<result column="pstock" property="pstock" />	
</resultMap>
		<!-- resultMap ='store_select' 같은 resultMap을 찾아서 실행  -->
<select id="store_select" resultMap="store_select"> 
select  amount,a.ono, oday, pcode, sdate, uuid, a.cname,pproduct,ocount,scount,osuju,otext,x,y,sdel,pstock   
from orderr a join connection b join product c on  a.cname = b.cname and a.pproduct = c.pname
where osuju = "수주 확인" order by a.ono asc; 
</select>

<select id="storerelease_select" resultMap="store_select"> 
select  amount,a.ono, oday, pcode, sdate, uuid, a.cname,pproduct,ocount,scount,osuju,otext,x,y,sdel   
from orderr a join connection b join product c on  a.cname = b.cname and a.pproduct = c.pname
where osuju = "출고 요청 확인" order by a.ono asc; 
</select>

<select id="management_select" resultMap="store_select"> 
select  amount,a.ono, oday, pcode, sdate, uuid, a.cname,pproduct,ocount,scount,osuju,otext,x,y,sdel   
from orderr a join connection b join product c on  a.cname = b.cname and a.pproduct = c.pname
where osuju = "견적서 발행" order by a.ono asc; 
</select>


<!-- 재고량 확인 -->
<select id="product_select" resultType="we.are.Model.InventoryDTO">
select pcode,pstock,pname,pprice from product where pcode = #{pcode}
</select>

<!-- 출고일 등록, 수주상태 변경 -> '출고요청 확인' -->
<update id="balju_update">
update product pro, orderr ord  set pstock = (select (pstock - #{ocount}) as total from product where pcode = #{oday}), ord.sdate = now(), ord.scount = #{ocount}, ord.osuju = '출고 요청 확인', ord.sdel ='출고 중', ord.amount =#{amount} where ord.ono = #{ono} and pcode= #{oday};
</update>

<!-- 발주 체크 -->
<select id="balju_check" resultType="String">
select sdate from orderr where ono = #{ono};
</select>

<!-- 수주상태 변경 -> '견적서 발행' -->
<update id="osuju_update">
update orderr set osuju = "견적서 발행" where ono =#{ono};
</update>

<select id="check" resultMap="store_select"> 
select  amount,a.ono, oday, pcode, sdate, uuid, a.cname,pproduct,ocount,scount,osuju,otext,x,y,sdel   
from orderr a join connection b join product c on  a.cname = b.cname and a.pproduct = c.pname order by a.ono asc; 
</select>

<select id="issuance_select" resultMap="store_select"> 
select  amount,a.ono, oday, pcode, sdate, uuid, a.cname,pproduct,ocount,scount,osuju,otext,x,y,sdel   
from orderr a join connection b join product c on  a.cname = b.cname and a.pproduct = c.pname
where osuju = "출고 요청 확인" and ono = #{ono} order by a.ono asc; 
</select>


</mapper>