@charset "UTF-8";

@font-face {
    font-family: 'GowunDodum-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunDodum-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.main1 {
    display: inline-flex;
}

.main2 {
    display: inline-block;
}

.cname {
	width: 160px;
}

.imgsize {
	width: 40px;
	height: 40px;
}

.a_1 {
	float: right;
}

table.table.table-striped.table-secondary.table-hover.table-bordered.table-responsive {
    width: auto;
}

table {
	font-family: 'GowunDodum-Regular';
}