@charset "UTF-8";

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

table {
	font-family: 'Pretendard-Regular';
}

.main1 {
    width: fit-content;
    display: inline-block;
    float: left;
}

.main4 {
    margin-top: 30px;
}

.table-responsive {
    overflow-x: auto;
    display: inline;
}

/* 테이블 스크롤 */
tbody.scroll {
    display: block;
    max-height: 220px;
    overflow-y: scroll;
    width: 26%;
}

thead.table-dark {
    display: table;
    width: 18%;
}