@charset "UTF-8";

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

.p_width, .p_width2{
	height : 80px; 
	text-align : center;
	line-height : 75px;
}

.p_width{
	width : 150px; 
}

.p_width2{
	width : 250px;
	background-color : #FFFFFF;
}

.hovertext {
    position: relative;
}

.hovertext:before {
    content: attr(data-hover);
    visibility: hidden;
    opacity: 0;
    width: max-content;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px 5px;
    transition: opacity 1s ease-in-out;

    position: absolute;
    z-index: 1;
    left: 0;
    top: 110%;
}

input[type="text"] {
    width: 160px;
}

table {
	font-family: 'Pretendard-Regular';
}

.left1, .right, .left2{
	width : 49%;
	position : absolute;
	
}

.left1{
	top : 102px;
	left : 10px;
}

.left2{
	height : 590px;
	left : 10px;
	top : 310px;
}

.right{
	top : 101px;
	float : right;
	right : 10px;
}


.hovertext:hover:before {
    opacity: 1;
    visibility: visible;
}