@charset "UTF-8";


.table.table-striped.table-hover.table-bordered.table-responsive{
}

.table.table-striped.table-hover.table-bordered.table-responsive thead{
}

.table.table-striped.table-hover.table-bordered.table-responsive tbody {
	overflow:auto;
}

.p_width{
	width : 150px; 
}

.p_width2{
	width : 250px; 
	background-color : #FFFFFF;
}

.hovertext {
    position: relative;
}

.hovertext:before {
    content: attr(data-hover);
    visibility: hidden;
    opacity: 0;
    width: max-content;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px 5px;
    transition: opacity 1s ease-in-out;

    position: absolute;
    z-index: 1;
    left: 0;
    top: 110%;
}

input[type="text"] {
    width: 160px;
}

.left1, .right, .left2{
	width : 49%;
	position : absolute;
	
}

.left1{
	top : 102px;
	left : 10px;
}

.left2{
	left : 10px;
	top : 310px;
}

.right{
	top : 101px;
	float : right;
	right : 10px;
}


.hovertext:hover:before {
    opacity: 1;
    visibility: visible;
}