 @charset "UTF-8";

#release_check, #buttons, #detailed{
	position: absolute;
	width: 49%;
}


#change{
	top:350px;
	position:relative;
}

#buttons{
	left:51%;
	border-bottom: 1px solid;
    padding-bottom: 20px;
}

#detailed{
	top:205px;
	left: 51%;
}

