@charset "UTF-8";

#Breleased_Request{
	position: relative;
	top: 110px;
	left: 2%;
	
}

#release{
	margin: 0px 40px;
}

#aa {
	position: relative;
	top: 85px;
}

#change {
	top: 90px;
	position: relative;
	overflow: scroll;
	height: 370px;
	scrollbar-width: none;
}

#buttons {
	border-bottom: 1px solid;
	padding-bottom: 20px;
	position: absolute;
	top: 130px;
	width: 47%;
}

#detailed {
	top: 240px;
	left: 51%;
	overflow: scroll;
	height: 206px;
	scrollbar-width: none;
}

#release_check {
	overflow: scroll;
    height: 329px;
    scrollbar-width: none;
    top: 115px;
    position: relative;
}

#hip_hap {
	position: fixed;
	top: 463px;
	width: 856px;
	text-align: center;
	border: 1px solid #ced4da;
}

#hip_hap_ea {
	position: fixed;
	top: 463px;
	width: 85px;
	left: 856px;
	height: 42px;
	border: 1px solid #ced4da;
}

#culha, #culgo, #send {
	color: black;
	border: 1px solid;
}

#send {
	position: relative;
	left: 51%;
	top: 290px;
}

#hh {
	position: relative;
	left: 51%;
	top: 65px;
}

.tableData thead tr th {
	position: sticky;
	top: 0;
	height: 50px;
	border-bottom: 2px solid dodgerblue;
	border-right: 1px solid #aaa;
}