@charset "UTF-8";

.tableData thead tr th {
    position: sticky;
    top: 0;
    height: 50px;
    border-bottom: 2px solid dodgerblue;
    border-right: 1px solid #aaa;
}

#change_total {
	width: 47%;
	position: absolute;
	left: 51%;
	top: 861px;
}

#Shipment_Request {
	position: absolute;
	top: 200px;
	left: 4%;
}

#Shipment_Details {
	position: absolute;
	left: 53%;
	top: 200px;
}

#release_check {
	top: 240px;
}

#detailed_total {
    position: absolute;
    left: 51%;
    top: 495px;
    width: 47%;
}

#release_check, #change, #detailed {
	position: absolute;
	width: 47%;
}

#release {
	margin: 0px 40px;
}

#change {
	top: 605px;
	left: 51%;
	position: absolute;
	width: 47%;
	overflow: scroll;
	height: 257px;
	scrollbar-width: none;
}

#buttons {
	border-bottom: 1px solid;
	padding-bottom: 20px;
	position: absolute;
	top: 130px;
	width: 47%;
}

#detailed {
	top: 240px;
	left: 51%;
	overflow: scroll;
	height: 256px;
	scrollbar-width: none;
}

#Shipment_ment {
	position: absolute;
	left: 56%;
	top: 190px;
}

#culha, #culgo, #culha_sinho {
	color: black;
	border: 1px solid;
}

#culha_sinho {
	position: absolute;
	left: 58%;
	top: 560px;
}

#title_psock {
	position: absolute;
	top: 565px;
	left: 53.5%;
}